/* GLOBAL CSS PROPERTIES */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #4A4D4F;
    font-weight: 300;
    font-size: 1.2em;
    opacity: 0.9;
}

/* Button design - standard*/
.btn {
    background-color: #2b5783;
    color: #f5fbff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: normal;
}

/* For screen reduction purposes (reactivity)*/
img {
    max-width: 100%; 
    height: auto;
}

/* Tag formatting */
a {
    text-transform: uppercase;
}

h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0%;
}

h3 {
    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: 0%;
}

span {
    color: #f5fbff;
    font-size: 0.8em;
}

/* Header */
header {
    background-color: #f5fbff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    z-index: 1;
}

header .logo img {
    padding-left: 60px;
    height: 20px;
} 

/* Navigation bar */
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
    font-weight: bold;
}

nav ul li a {
    color: #44709C ;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: #4A4D4F;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
    transition: width 0.3s ease;  /* Smooth transition for expanding/collapsing sidebar */
    z-index: 2;  /* Ensure the sidebar stays above the content */
    overflow: hidden;  /* Prevent overflow when collapsed */
}

.sidebar.collapsed {
    width: 60px;  /* Set sidebar width when collapsed */
}

/* Sidebar */

.sidebar a {
    color: white;
    padding: 15px;
    text-decoration: none;
    text-align: left;
    display: flex;
    align-items: center;
    width: 100%;
    transition: all 0.3s ease;
}

.sidebar.collapsed a {
    justify-content: center;  /* Center the icon */
}

.sidebar i {
    margin-right: 10px;
}

.sidebar.collapsed i {
    margin-right: 0;  /* Remove margin when collapsed */
}

.sidebar span {
    display: inline-block;
    transition: opacity 0.3s ease;
}

.sidebar.collapsed span {
    opacity: 0;  /* Hide the text */
    width: 0;
    overflow: hidden;
}

/* Toggle button for sidebar */
.toggle-btn {
    position: absolute;
    top: 10px;
    left: auto;  /* Default left position for expanded sidebar */
    background-color: #4A4D4F;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: left 0.3s ease;
}

.sidebar.collapsed .toggle-btn {
    left: auto;  /* Move the toggle button when the sidebar is collapsed */
}

.sidebar-links {
    padding-top: 30px;
    padding-right: 30px;
}

.sidebar a:hover {
    background-color: #44709C;
}


/* Main content area */
.main-content {
    margin-left: 200px;  /* Default margin to account for sidebar */
    padding: 20px;
    transition: margin-left 0.3s ease;  /* Smooth transition when the sidebar expands/collapses */
    /* width: calc(100% - 200px);  Full width minus the sidebar */
    overflow-x: hidden;
    /* background-color: #B3cee9; */
    /* External background image */
    background-image: url('https://github.com/CoGoData-Gustav/nuerosensa-project/blob/main/Assets/bg3.jpg?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sidebar.collapsed + .main-content {
    margin-left: 60px;  /* Adjust margin when sidebar is collapsed */
    width: calc(100% - 60px);  /* Full width minus the collapsed sidebar */
}

/* Value boxes */
.value-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  /* Allow wrapping to prevent overflow */
}

.value-box {
    background-color: #44709C;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    flex: 1;
    margin-right: 10px;
    margin-bottom: 10px;  /* Add some space between rows */
    min-width: 150px;  /* Ensure value boxes have a minimum width */
}

.value-box:last-child {
    margin-right: 0;
}

/* Graph box styles */
.graph-box {
    background-color: #92BBDC;
    color: red;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;  /* Let it adapt to the content */
}

.content-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  /* Allow wrapping to prevent overflow */
}

.content-row .graph-box {
    flex: 1;
    margin-right: 10px;
}

.content-row .graph-box:last-child {
    margin-right: 0;
}

/* Graph styles */


/* Foooter */
footer {
    background-color: #333;
    color: #f5fbff;
    text-align: center;
    padding: 20px;
    font-size: 0.6em;
}

footer nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 20px;
}

footer nav ul li {
    margin: 0 10px;
}

footer nav ul li a {
    color: #f5fbff;
    text-decoration: none;
    font-weight: 300;
}

footer p {
    margin: 0;
}


/* UPLOAD section */

.section-upload {
    background-image: url('https://github.com/CoGoData-Gustav/nuerosensa-project/blob/main/Assets/bg3.jpg?raw=true');  
}

/* Upper text */
.contact-text{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column; 
}

.contact-text p {
    margin-bottom: 40px;
    width: 55%;
    text-align: center; 
    margin-bottom: 10px;
}

.contact-text img{
    width: 650px;
}

