/* Specifying basic style of the page (as per BrandStandards-v1.0 doc):
i) Fonts: Montserrat 
ii) Pallet colours: 
    - Background: #F5FBFF
    - Text: #4A4D4F
    - Header: #44709C
    - Nav: #2B5783
    - Nav text: white
    - Button: #44709C
    - Button text: white
*/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5FBFF;
    color: #4A4D4F;
    margin: 0;
    padding: 0;
}

header {
    background-color: #44709C;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    background-color: #2B5783;
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label, form input, form textarea, form button {
    margin-bottom: 10px;
}

form input, form textarea {
    width: 300px;
    padding: 10px;
    border: 1px solid #92BBDC;
}

form button {
    background-color: #44709C;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}